.background-color {
  background-color: #f08700;
}
.background-color--blue {
  background-color: #23c9ff;
}
.background-color--red {
  background-color: #de3c4b;
}
.background-color--white {
  background-color: #fff;
}
.border-color {
  background-color: #d3d3d3;
}
